<div class="col-md-12">
  <div class="row well">
    <button class="btn btn-xs btn-warning "  {{action 'deleteQuestion'}}>Delete Question</button>
    <button class="btn btn-xs btn-info col-md-offset-10" {{action 'editQuestion'}}>Edit Question</button>
    <br>
    <br>
    {{#if isEditing}}
      <form>
        <div class="form-group">
          <label for="text">Question</label>
            {{input value=text id="text" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{textarea value=description id="description" class="form-control" rows="5"}}
        </div>
        <button class="btn btn-success btn-xs btn-block" {{action 'saveQuestion'}}>Save</button>
      </form>
    {{else}}

      <p class="lead muted">
        {{model.author}} asks:
      </p>
      <h2 class=" fancyfont text-success">{{model.text}}</h2>
      <hr>
      <p>{{model.description}}</p>
      <br>
    {{/if}}
  </div>

  <div class="row">
    {{#if newAnswer}}
      <div class="well">
        {{partial 'question/_new-answer'}}
        <br>
      </div>
    {{else}}
      <div class="row">
        <div class="col-md-12">
          <br>
            <p><button class="btn btx-xs btn-success btn-block" {{action 'addAnswer'}}>Add Your Answer</button></p>
        </div>
      </div>
      <br>
      <div class="row ">
        <div class="col-md-12">
          <ul class="list-unstyled">
            {{#each answer in model.answers}}
              <li class="well">
                <blockquote>
                  <p>
                    {{answer.body}}
                    <button class="btn btn-warning btn-xs pull-right"{{action 'deleteAnswer' answer}}>X</button>
                  </p>
                  <footer><cite>{{answer.poster}}</cite></footer>
                </blockquote>
              </li>
            {{/each}}
          </ul>

        </div>
      </div>
    {{/if}}
  </div>
</div>
